.image-container {
  display: flex;
  margin-bottom: 1rem;
  &.left {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }

  & .image {
    & > img {
      max-width: 100%;
    }
    position: relative;
    & .image-align {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}
