@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

.App {
  color: rgb(17, 17, 17);
  max-width: 740px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
  padding: 40px;
  margin: 65px auto 45px;
  border-radius: 4.5px;
  font-size: 18px;
  font-family: 'Overpass', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240) !important;
}
