.emoji-dropdown {
  top: -9999px;
  left: -9999px;
  position: absolute;
  z-index: 1;
  padding: 3px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  .emoji {
    background: transparent;
    &.active, &:hover {
      cursor: pointer;
      background: rgba(0,0,0,.1);
    }
  }
}