@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.editor {
  &:focus {
    outline: none;
  }
  & blockquote {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid lighten(#000, 70%);
    background: lighten(#000, 99%);
    font-family: 'Roboto', serif;
    font-weight: 100;
  }
  & a {
    color: #0095f4;
    text-decoration: underline;

  } 
  
  & .inline-toolbar {
    display: flex;
    background: #333;
    flex-wrap: nowrap;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
    box-sizing: border-box;
    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-top-color: #333;
      z-index: 2;
      border-width: 4px;
      margin-left: -4px;
    }
    &:before {
      z-index: 2;
      border-top-color: #333;
      border-width: 6px;
      margin-left: -6px;
    }
    & button {
      background: none;
      color: lighten(theme-color("dark"),45%);
      &.btn-active {
      color: lighten(theme-color("dark"),80%);
      }
    }
  }
}