
.editor {
  &:focus {
    outline: none;
  }
  & blockquote {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid lighten(#000, 70%);
    background: lighten(#000, 99%);
    font-family: 'Roboto', serif;
    font-weight: 100;
  }
  & a {
    color: #0095f4;
    text-decoration: underline;

  }
  & .draftJsHashtagPlugin__hashtag__1wMVC {
    color: #9e9e9e;
  }  
}